.container{
    border: 1px solid white;
    max-width: 48rem;
    display: flex;
    flex-direction: row;
    padding: 4rem 2rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
}

.login-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1.2rem;
}

h1{
    text-align: center;
    color: #fff;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

label{
    transition: font-size 0.3s ease, color 0.3s ease;
}

.input-group:focus-within label {
    font-size: 1.2em; /* Ingrandisce il label */
    color: rgb(0, 174, 255); /* Cambia colore per evidenziare */
    transition: font-size 0.3s ease, color 0.3s ease; /* Aggiunge una transizione fluida */
}

input:focus{
    outline-color: rgb(0, 174, 255);
}

input[type='text'],[type='password']{
    padding: 0.4rem;
    font-size: 1.2rem;
}

.btn-login,.btn-register{
    width: 12rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    margin: 0 auto;
    background-color: rgb(0, 174, 255);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn-login:hover,.btn-register:hover{
    background-color: rgb(117, 211, 255);
    transform: scale(1.1);
}



input[type="checkbox"]{
    accent-color: rgb(0, 174, 255); 
}

@media (max-width:600px) {
    .container{
        max-width: 24rem;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
  