@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}



body{
  background-image: url('../src/assets/bg-login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}